<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <header id="main-header">
        <a href="/">
            <img src="/images/logo.svg" alt="logo" class="logo">
        </a>
        <nav id="main-navigation">
            <ul class="menu">
                <% if (user) { %>
                    <!-- 로그인 상태일 때, 로그아웃 버튼 -->
                    <li class="menu-item">
                        <form id="logout-form" action="/logout" method="POST">
                            <button type="submit" class="signup-link">로그아웃</button>
                        </form>
                    </li>
                <% } else { %>
                    <!-- 비로그인 상태일 때, 로그인 버튼 -->
                    <li class="menu-item">
                        <button onclick="window.location.href='/signin'" class="signup-link">로그인</button>
                    </li>
                <% } %>                
                <li class="menu-item"><button onclick="window.location.href='/mandalart'" class="nav-button">My Mandalart</button></li>
                <li class="menu-item"><button onclick="window.location.href='/share'" class="nav-button active">Share</button></li>
                <li class="menu-item"><button onclick="window.location.href='/profile'" class="nav-button">Profile</button></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="profile-section">
            <h2>프로필</h2>
            <div class="profile-card">
                <h3>
                    <%= user ? user.user_nickname : 'Guest' %> 
                </h3>
                <p>아이디 : <%= user ? user.user_id : 'Guest' %></p>
                <p>이메일 : <%= user ? user.user_email : 'Not available' %></p>
                <p>생년월일 : <%= user ? new Date(user.user_birthday).toISOString().split('T')[0] : 'Not available' %></p>
            </div>
        </section>
        <section class="achievements-section">
            <h2>업적</h2>
            <p style="font-weight: bold; font-size: 1.2em;">현재까지 달성한 업적이 없습니다.</p>
        </section>
    </main>
</body>
</html>
