<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J00% - View Mandalart</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/share_viewMandalart.css">

    <style>
        .cell.active {
            background-color: #F4FFE8 !important;
        }
        #checklist-container {
            display: none;
            margin-top: 20px;
        }
        #checklist-list {
            margin-top: 10px;
        }
        #no-mandalart-message {
            opacity: 0; /* 초기에 텍스트를 숨김 */
            animation: fadeIn 2s forwards; /* 텍스트 등장 시간을 2초로 설정 */
        }
        @keyframes fadeIn {
            from {
                opacity: 0; /* 투명도를 0으로 설정하여 숨김 */
            }
            to {
                opacity: 1; /* 투명도를 1로 설정하여 나타남 */
            }
        }
    </style>
</head>
<body>
    <header id="main-header">
        <a href="/">
            <img src="/images/logo.svg" alt="logo" class="logo">
        </a>
        <nav id="main-navigation">
            <ul class="menu">
                <% if (user) { %>
                    <!-- 로그인 상태일 때, 로그아웃 버튼 -->
                    <li class="menu-item">
                        <form id="logout-form" action="/logout" method="POST">
                            <button type="submit" class="signup-link">로그아웃</button>
                        </form>
                    </li>
                <% } else { %>
                    <!-- 비로그인 상태일 때, 로그인 버튼 -->
                    <li class="menu-item">
                        <button onclick="window.location.href='/signin'" class="signup-link">로그인</button>
                    </li>
                <% } %>                
                <li class="menu-item"><button onclick="window.location.href='/mandalart'" class="nav-button">My Mandalart</button></li>
                <li class="menu-item"><button onclick="window.location.href='/share'" class="nav-button active">Share</button></li>
                <li class="menu-item"><button onclick="window.location.href='/profile'" class="nav-button">Profile</button></li>
            </ul>
        </nav>
    </header>
    
    <div class="container">
        <h3 id="user-nickname"></h3>
        <div id="no-mandalart-message" style="display:none;">아직 만다라트를 생성하지 않았어요:(</div>
        <div id="mandalart-grid" class="mandalart grid" style="display:none;"></div>
        <div id="checklist-container" class="container arr1-container" style="display:none;">
            <div class="editContainer">
                <ul id="checklist-list"></ul>
            </div>
        </div>
        <div id="comment-section" style="display:none;">
            <h4>댓글 (<span id="comment-count">0</span>)</h4>
            <ul id="comment-list"></ul>
            
            <div id="new-comment-section">
                <textarea id="new-comment" placeholder="댓글을 입력하세요"></textarea>
                <button id="add-comment-button">댓글 작성</button>
            </div>
        </div>
    </div>
    
    <script>
        // Function to get URL parameter
        function getQueryParam(param) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(param);
        }

        // JavaScript 수정
        document.addEventListener('DOMContentLoaded', async () => {
            const userId = getQueryParam('userId');
            if (!userId) {
                console.error('User ID not found in URL');
                return;
            }

            // 유저의 만다라트 제목 변경
            document.getElementById('user-nickname').textContent = `${userId}님의 만다라트`;
            try {
                const response = await fetch(`/mandalart/userMandalart/${userId}`);
                if (!response.ok) {
                    if (response.status === 404) {
                        document.getElementById('no-mandalart-message').style.display = 'block';
                    } else {
                        throw new Error('Failed to fetch mandalart');
                    }
                } else {
                    const data = await response.json();
                    document.getElementById('mandalart-grid').style.display = 'block';
                    document.getElementById('comment-section').style.display = 'block';

                    displayMandalart(data);
                    loadComments(data.mandalart.mandalart_id);

                    // Add comment button click event
                    document.getElementById('add-comment-button').addEventListener('click', () => {
                        const commentDetail = document.getElementById('new-comment').value.trim();
                        if (commentDetail) {
                            addComment(data.mandalart.mandalart_id, commentDetail);
                        }
                    });

                    // Submit comment on Enter key press
                    document.getElementById('new-comment').addEventListener('keydown', (event) => {
                        if (event.key === 'Enter') {
                            event.preventDefault();
                            const commentDetail = event.target.value.trim();
                            if (commentDetail) {
                                addComment(data.mandalart.mandalart_id, commentDetail);
                            }
                        }
                    });
                }
            } catch (error) {
                console.error('Error fetching mandalart:', error);
            }
        });



        function displayMandalart(data) {
            const { mandalart, tedolists, checklists } = data;
            const container = document.querySelector('.mandalart');
            const centerGoal = mandalart.centerGoal;
            const tedolistCount = mandalart.tedolist_count;

            if (container) {
                if (tedolistCount > 0) {
                    container.classList.add(`grid-${tedolistCount}`);
                    generateMandalart(container, centerGoal, tedolistCount, tedolists, checklists);
                    addCellClickHandlers(mandalart.mandalart_id);
                }
            }
        }

        function generateMandalart(container, centerGoal, numCells, tedolists, checklists) {
            const positions = getPositions(numCells);

            positions.forEach((pos, index) => {
                const cell = document.createElement('div');
                cell.classList.add('cell', pos);
                cell.dataset.position = pos;

                const inputDetail = tedolists[index]?.tedolist_detail;
                const inputNumber = tedolists[index]?.tedolist_number;

                if (inputDetail && inputNumber) {
                    const textDiv = document.createElement('div');
                    textDiv.classList.add('cell-text');
                    textDiv.innerText = inputDetail;
                    cell.dataset.tedolistNumber = inputNumber;
                    cell.dataset.hasTedolistDetail = "true";
                    cell.appendChild(textDiv);
                } else {
                    cell.dataset.hasTedolistDetail = "false";
                }

                container.appendChild(cell);
            });

            const centerCell = document.createElement('div');
            centerCell.classList.add('cell', 'center');
            centerCell.dataset.position = 'center';
            centerCell.innerText = centerGoal;
            container.appendChild(centerCell);
        }

        function getPositions(numCells) {
            switch (numCells) {
                case 2:
                    return ["left", "right"];
                case 3:
                    return ["left", "right", "down"];
                case 4:
                    return ["up", "left", "right", "down"];
                case 5:
                    return ["up", "left", "right", "down-left", "down-right"];
                case 6:
                    return ["up", "up-left", "up-right", "down", "down-left", "down-right"];
                case 7:
                    return ["up-left", "up-right", "left", "right", "down-left", "down", "down-right"];
                case 8:
                    return ["up-left", "up", "up-right", "left", "right", "down-left", "down", "down-right"];
                default:
                    return [];
            }
        }

        function addCellClickHandlers(mandalartId) {
            const cells = document.querySelectorAll('.mandalart .cell');
            cells.forEach(cell => {
                if (!cell.classList.contains('center')) {
                    cell.addEventListener('click', async (event) => {
                        if (cell.dataset.hasTedolistDetail === "true") {
                            cells.forEach(c => c.classList.remove('active'));
                            event.target.classList.add('active');
                            const tedolistNumber = event.target.dataset.tedolistNumber;
                            console.log(`Tedolist Number: ${tedolistNumber}`);
                            await loadChecklists(mandalartId, tedolistNumber);
                        } else {
                            document.querySelector('#checklist-container').style.display = 'none';
                        }
                    });
                }
            });
        }

        async function loadChecklists(mandalartId, tedolistNumber) {
            const response = await fetch(`/mandalart/checklists/${mandalartId}/${tedolistNumber}`);
            if (response.ok) {
                const checklists = await response.json();
                const checklistContainer = document.querySelector('#checklist-list');
                checklistContainer.innerHTML = '';
                console.log(`Checklists loaded for Tedolist Number: ${tedolistNumber}`, checklists);
                checklists.forEach(checklist => {
                    const li = document.createElement('li');
                    li.textContent = checklist.checklist_detail;
                    checklistContainer.appendChild(li);
                });
                document.querySelector('#checklist-container').style.display = 'block';
            }
        }

        async function loadComments(mandalartId) {
            const response = await fetch(`/comment/${mandalartId}`);
            if (response.ok) {
                const comments = await response.json();
                const commentList = document.getElementById('comment-list');
                const commentCountSpan = document.getElementById('comment-count');

                commentList.innerHTML = '';
                comments.forEach(comment => {
                    const li = document.createElement('li');
                    li.className = 'comment-item';
                    li.innerHTML = `
                        <div class="comment-header">
                            <div class="comment-author">
                                <img src="/images/comment_user.svg" alt="profile">
                                <span class="comment-author-name">${comment.user_id}</span>
                            </div>
                            <span class="comment-date">${comment.date}</span>
                        </div>
                        <div class="comment-detail">${comment.comment_detail}</div>
                        <div class="comment-reactions">
                            ${generateReactionsHTML(comment)}
                        </div>
                        <button class="delete-comment-button" data-comment-id="${comment.comment_id}">삭제</button>
                    `;
                    li.querySelectorAll('.comment-reaction').forEach(reaction => {
                        reaction.addEventListener('click', async () => {
                            const emoji = reaction.dataset.emoji;
                            await incrementReaction(comment.comment_id, emoji);
                            const countSpan = reaction.querySelector('span');
                            countSpan.textContent = parseInt(countSpan.textContent) + 1;
                        });
                    });
                    li.querySelector('.delete-comment-button').addEventListener('click', async () => {
                        await deleteComment(mandalartId,comment.comment_id);
                    });
                    commentList.appendChild(li);
                });
                // Update the comment count
                commentCountSpan.textContent = comments.length;
            }
        }

        function generateReactionsHTML(comment) {
            const emojis = ['1', '2', '3', '4', '5'];
            return emojis.map(emoji => `
                <div class="comment-reaction" data-emoji="${emoji}">
                    <img src="/images/${emoji}.svg" alt="${emoji}">
                    <span>${comment[`imogi${emoji}count`] || 0}</span>
                </div>
            `).join('');
        }

        async function incrementReaction(commentId, emoji) {
            const response = await fetch('/comment/reaction/increment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ comment_id: commentId, emoji })
            });
            if (!response.ok) {
                console.log('Failed to increment reaction');
            }
        }

        async function deleteComment(mandalartId,commentId) {
            const response = await fetch(`/comment/delete/${commentId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            if (response.ok) {
                loadComments(mandalartId);
            }
        }

        async function addComment(mandalartId, commentDetail) {
            const response = await fetch('/comment/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ mandalart_id: mandalartId, comment_detail: commentDetail })
            });
            if (response.ok) {
                document.getElementById('new-comment').value = '';
                loadComments(mandalartId);
            }
        }
    </script>
</body>
</html>